{% extends "base.html" %}

{% load static %}
{% block body %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">近日開催のおすすめイベント</h1>
      <!-- Vue.js Blog Post -->
        <div id="app">
            <ul>
                <li v-for="">

                </li>
            </ul>
            <p class="event-date">2018/11/20</p>
              <div class="card mb-4">
                <a href="#"><img class="card-img-top" src="#" alt="Card image cap"></a>
                <div class="card-body">
                    <h2 class="card-title"><a href="#" >title</a></h2>
                  <p class="card-text">content</p>
                  <a href="#" class="btn btn-primary">Read More&rarr;</a>
                </div>

                <div class="card-footer text-muted">
                  postedDate
                  <a href="#">Start Bootstrap</a>
                </div>
             </div>
        </div><!--vue_app-->


      <!-- Blog Post -->
        <p class="event-date">2018/11/20</p>
        {% for blog in object_list %}
          <div class="card mb-4">
            <a href="{% url "detail" blog.id %}"><img class="card-img-top" src="{% static 'img/750x300.png'%}" alt="Card image cap"></a>
            <div class="card-body">
                <h2 class="card-title"><a href="{% url "detail" blog.id %}" >{{blog.event_title}}</a></h2>
              <p class="card-text">{{ blog.content}}</p>
              <a href="{% url "detail" blog.id %}" class="btn btn-primary">Read More&rarr;</a>
            </div>

            <div class="card-footer text-muted">
              {{ blog.posted_date  }}
              <a href="#">Start Bootstrap</a>
            </div>
         </div>
        {% endfor %}

      <!-- Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for page in paginator.page_range %}
                <li{% if page == page_obj.number %} class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
      </nav>
    </div>
{% endblock %}