{% extends "base.html" %}

{% load static %}
{% block body %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>

      <!-- Blog Post -->
        {% for blog in object_list %}
          <div class="card mb-4">
            <img class="card-img-top" src="{% static 'img/750x300.png'%}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">Post Title</h2>
              <p class="card-text">{{ blog.content }}</p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              {{ blog.posted_date  }}
              <a href="#">Start Bootstrap</a>
            </div>
         </div>
        {% endfor %}

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>
    </div>
{% endblock %}